:root{
    --BACKGROUND-COL: #004225;
    --SIDEBAR-COL: #1a142399;
    --TEXT-COL: #FFFFFF;
    --HIGHLIGHT-ONE: #9B7EDE;
    --HIGHLIGHT-TWO: #FE4A49;
}

#navBar{
    flex:0.7;
    display: flex;
    flex-direction: column;
    position:sticky;
    height:100vh;
    top:0;
    text-align: center;
    justify-content: space-around;
}

.navBarButton{
    transition: 0.2s;
}

.navBarButton a{
    color:white;
    text-decoration:none;
    font-weight: bold;
    font-size: 2vw;
}

.navBarButton:hover,
.navBarButton a:hover{
    transform: scale(1.3);
    color: var(--HIGHLIGHT-TWO);
}