:root{
    --BACKGROUND-COL: #004225;
    --SIDEBAR-COL: #1a142399;
    --TEXT-COL: #FFFFFF;
    --HIGHLIGHT-ONE: #9B7EDE;
    --HIGHLIGHT-TWO: #FE4A49;
}

* {
   margin: 0px;
   padding: 0px;
}

html{
    min-height: 100vh;
}

body{
    background-color: var(--BACKGROUND-COL);
    color: var(--TEXT-COL);
    font-family: hurmit,Arial,sans-serif;
    min-height: 100%;
}

body {
  margin: 0;
}

h1{
    color: var(--HIGHLIGHT-ONE);
    font-size: 3rem;
}

footer{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 0.75rem;
}

.textLink{
    display: inline-block;
    color: var(--HIGHLIGHT-TWO);
    text-decoration: none;
    
}

.textLink:hover{
    transform: scale(1.05);
}

ul{
    text-align: left;
}
abbr{
    color: var(--HIGHLIGHT-ONE);
    text-decoration: none;
}

@keyframes buttonWiggle {
    0% {rotate: -10deg;}
    20% {rotate:20deg;}
    40% {rotate:-20deg;}
    60% {rotate: 20deg;}
    80% {rotate: -20deg;}
    100% {rotate: 10deg;}
    
}

.secretButtons{
    display: inline-block;
    margin-left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: var(--HIGHLIGHT-TWO);
}

.secretButtons:hover{
    transform: scale(1.3);
    animation: buttonWiggle;
    animation-duration: 1s;
}

.aboutMe{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#copyToKeyboard{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color:var(--TEXT-COL)
}

#copyToKeyboard:hover{
    opacity: 70%;
}


#stampGroup{
    margin-top: 2vh;
}

.stampDiv{
    margin-top: 1vh;
    width: auto;
}

#stamps{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
}

#stamps div{
    padding-left: 5px;
}



#despair{
    width: 1rem;
    height: 1.2rem;
}




#welcomeMessage{
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}


.waterfall {
  width: 64px;
  min-height: 100vh;
  background-image: url('/assets/animated/waterfall.gif');
  background-repeat: repeat-y;
  background-size: 64px 256px;
  border-color: white;
  border-style: solid;
  border-width: 0 0.2vw 0 0.2vw;
}

#rightWaterfall{
    transform: scaleX(-1);
}

#page{
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

#leftBar{
    flex: 1;
}

#rightBar{
    flex:0.7
}

#centreContent{
    flex:3;
    text-align: center;
    align-items: center;
}

.sideBar{
    background-color: var(--SIDEBAR-COL);
}