:root{
    --BACKGROUND-COL: #004225;
    --SIDEBAR-COL: #1a142399;
    --TEXT-COL: #FFFFFF;
    --HIGHLIGHT-ONE: #9B7EDE;
    --HIGHLIGHT-TWO: #FE4A49;
}

* {
   margin: 0px;
   padding: 0px;
}

body{
    background-color: var(--BACKGROUND-COL);
    color: var(--TEXT-COL);
    font-family: hurmit,Arial,sans-serif;
}

h1{
    color: var(--HIGHLIGHT-ONE);
}

footer{
    font-size: 0.75rem;
}

/* #topBar{
    width: 100vw;
    height: 6vh;
    background-color: var(--TEXT-COL);
} */

#page{
    display: flex;
    height: 100vh;
    width: 100vw;
}

#leftBar{
    flex: 1;
}

#rightBar{
    flex:0.7
}

#centreContent{
    margin-top: 2vh;
    flex:3;
    text-align: center;
}

.sideBar{
    background-color: var(--SIDEBAR-COL);
}

a{
    display: inline-block;
    color: var(--HIGHLIGHT-TWO);
    text-decoration: none;
    
}

a:hover{
    transform: scale(1.05);
}