:root{
    --BACKGROUND-COL: #004225;
    --TEXT-COL: #FFFFFF;
    --HIGHLIGHT-ONE: #9B7EDE;
    --HIGHLIGHT-TWO: #FE4A49;
}

body{
    text-align: center;
    background-color: var(--BACKGROUND-COL);
    color: var(--TEXT-COL);
    font-family: hurmit,Arial,sans-serif;
}

h1{
    color: var(--HIGHLIGHT-ONE);
}

footer{
    font-size: 0.75rem;
}

a{
    display: inline-block;
    color: var(--HIGHLIGHT-TWO);
    text-decoration: none;
    
}

a:hover{
    transform: scale(1.05);
}